version: '3.7'

networks:
  ntw_front:
    external: true
  ntw_proxy:
    external: true

configs:
  traefik.toml:
    file: ./configs/traefik.toml

services:

  socat:
    image: devmtl/socatproxy:1.1
    networks:
      - ntw_front
      - ntw_proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: '0.20'
          memory: 8M
        reservations:
          cpus: '0.10'
          memory: 4M
      labels:
        - "traefik.enable=false"

  traefik:
    image: traefik:1.7.6-alpine
    ports:
    - target: 80
      protocol: tcp
      published: 80
      mode: ingress
    - target: 443
      protocol: tcp
      published: 443
      mode: ingress
    - target: 8080
      protocol: tcp
      published: 8080
      mode: ingress
    networks:
      - ntw_front
      - ntw_proxy
    volumes:
      - ./configs/acme.json:/acme.json
    configs:
      - source: traefik.toml
        target: /etc/traefik/traefik.toml
    command: --docker \
      --docker.swarmmode \
      --docker.domain=traefik \
      --docker.endpoint=tcp://socat:2375 \
      --docker.watch \
      --debug=true \
      --logLevel=WARN \
      --web.metrics.prometheus \
      --web.metrics.prometheus.buckets="0.1,0.3,1.2,5.0" \
      --web.address=:8080
    deploy:
      mode: replicated
      replicas: 1
      update_config:
        delay: 2s
      placement:
        constraints: [node.role==manager]
      restart_policy:
        condition: on-failure
        max_attempts: 5
      resources:
        limits:
          cpus: '0.33'
          memory: 96M
        reservations:
          cpus: '0.05'
          memory: 48M
      labels:
        - "traefik.backend=traefik"
        - "traefik.enable=true"
        - "traefik.logLevel=DEBUG"
        - "traefik.port=8080"


# by Pascal Andy | https://pascalandy.com/
# https://github.com/pascalandy/docker-stack-this
